In [2]:
import pandas as pd

In [45]:
def openFile(file_path, mode='r'):
    try:
        return open(file_path, mode)
    except FileNotFoundError:
        print(f"File not found: {file_path}")
        raise

fileGenre = openFile('../data/u.genre')
fileItem = openFile('../data/u.item')
fileUser = openFile('../data/u.user')
fileData = openFile('../data/u.data')

def getDataframeFromFile(filed):
    data = []
    #
    while True:

        line = filed.readline()

        # if line is empty
        if line.strip() == "":
            break

        rec = line.strip().split('|')
        
        item = {}

        if len(rec) > 6:
            item['movieId'] = rec[0]
            item['name'] = rec[1]
            item['release_date'] = rec[2]
            item['url'] = rec[4]

            #5 => 23
            item['genre'] = [genre[idx]['name'] for  idx, g in enumerate(range(5,24)) if rec[g] == '1']

        elif len(rec) == 2:
            item['id'] = rec[1]
            item['name'] = rec[0]
            
        elif len(rec) == 5:
            item['userId'] = rec[0]
            item['age'] = rec[1]
            item['gender'] = rec[2]
            item['function'] = rec[3]
        else:
            print("Invalid record format. Skipping.")
            return

        data.append(item)
    filed.close()
    return data

def getDataframe(filed):
    data = []
    while True:
        line = filed.readline()
        # if line is empty
        if line.strip() == "":
            break

        rec = line.strip().split('\t')

        item = {}
        item['userId'] = rec[0]
        item['movieId'] = rec[1]
        item['rating'] = rec[2]
        item['timestamp'] = rec[3]
        data.append(item)
    filed.close()
    return data

df_relationship_data = pd.DataFrame(getDataframe(fileData))

#df_relationship_data.groupby("userId")['movieId'].count()

genre = getDataframeFromFile(fileGenre)
items = getDataframeFromFile(fileItem)
users = getDataframeFromFile(fileUser)

df_movies = pd.DataFrame(items)
# df_users = pd.DataFrame(users)
# df_users
#df_movies
df_relationship_data

      userId movieId rating  timestamp
0        196     242      3  881250949
1        186     302      3  891717742
2         22     377      1  878887116
3        244      51      2  880606923
4        166     346      1  886397596
...      ...     ...    ...        ...
99995    880     476      3  880175444
99996    716     204      5  879795543
99997    276    1090      1  874795795
99998     13     225      2  882399156
99999     12     203      3  879959583

[100000 rows x 4 columns]